@font-face {
    font-family: "minion-semiBold";
    src:
      url("assets/MinionPro-Semibold.woff") format("woff");
}

@font-face {
    font-family: "minion-regular";
    src:
      url("assets/MinionPro-Regular.woff") format("woff");
}

body {
    font-family: "minion-regular", serif;
    font-weight: 800;
    color: white;

    display: flex;
    height: 100vh;
    width: auto;
    padding: 0;
    margin: 0;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items:center;
    
    width: 40vw;
    background-image: url("assets/cozy-winter-phoebe\ morris.gif");
    background-size: cover;
}

.logo {
    margin: auto;
    text-align: right;
}

.logo > img {
    width: 48px;
}

.logo > h1 {
    font-size: 48px;
    font-family: "minion-semiBold", serif;
    text-shadow: whitesmoke 1px 0 10px;
    padding: 0;
    margin: 0;
    margin-top: -20px;
}

.credit {
    background-color: rgb(11 28 48 / 40%);
    padding: 8px 8px 4px 8px;
    margin: 16px;
}

.credit > p {
    font-size: 12px;
    padding: 0;
    margin: 4px;
    font-weight: 800;
    text-align: center;
}

.rightSection {
    box-sizing: border-box;
    width: 60vw;
    background-color: #0b1c30;
    padding: 10vw;

    display:flex;
    flex-direction: column;
    justify-content: center;
}

label {
    display: block;
    padding-bottom: 8px;
}

button {
    font-family: "minion-semiBold", serif;
    font-size: 16px;
    padding: 8px 16px 5px 16px;
}

.tagline {
    margin-bottom: 40px;
}

form > legend {
    line-height: 24px;
    padding-bottom:8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.formGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
}

.formGroup p {
    flex: 1 1 auto;
    margin:0;
    padding:0;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    display: block;
    box-sizing: border-box;
    height:40px;
    border-radius: 4px;
    background-color:rgb(0 0 0 / 20%);
    border: 2px solid rgb(58, 68, 94);

    font-family:"minion-semiBold", serif;
    font-size: 16px;
    padding-top: 4px;
    padding-left: 8px;
    color:white;
}

input:focus,
input:hover,
input:active {
    background-color: rgba(212, 212, 212, 10%);
}

input:invalid,
input.invalid {
    border: 2px rgb(235, 75, 75) solid;
    background-color:rgb(235 75 75 / 20%);
}

input:invalid:hover,
input:invalid:active,
input.invalid:hover,
input.invalid:active {
    background-color:rgb(235 75 75 / 30%);
}

input:focus {
    border: 2px green solid;
}

.errorMessage {
    display: block;
    padding-top: 8px;
    height: 0px;

    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 176, 176);
}